<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Service Request</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.ServiceRequest"*/-->
<form th:object="${serviceRequest}" th:action="@{/serviceRequest/save}" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="form-group">
        <div class="col-3">
            <label>Name:</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-3">
            <label>Description:</label>
            <input type="text" class="form-control" th:field="*{description}">
        </div>
    </div>

    <div class="form-group">
        <div class="col-3">
            <label>Label:</label>
            <select class="form-control" th:field="*{label}">
                <option th:each="labelValue : ${T(com.murphy1.serviced.serviced.model.Label).values()}"
                        th:value="${labelValue.name()}"
                        th:text="${labelValue.name()}"
                >val</option>
            </select>
            <select class="form-control" th:remove="all">
                <option>Hardware</option>
                <option>Software</option>
                <option>Network</option>
                <option>Access</option>
                <option>Account</option>
                <option>SQL</option>
                <option>Java</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-3">
            <label>Priority:</label>
            <select class="form-control" th:field="*{priority}">
                <option th:each="priorityValue : ${T(com.murphy1.serviced.serviced.model.Priority).values()}"
                        th:value="${priorityValue.name()}"
                        th:text="${priorityValue.name()}"
                >val</option>
            </select>
            <select class="form-control" th:remove="all">
                <option>Very High</option>
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <div class="col-3">
            <label>Status:</label>
            <select class="form-control" th:field="*{status}">
                <option th:each="statusValue : ${T(com.murphy1.serviced.serviced.model.Status).values()}"
                        th:value="${statusValue.name()}"
                        th:text="${statusValue.name()}"
                >val</option>
            </select>
            <select class="form-control" th:remove="all">
                <option>In Progress</option>
                <option>Need Info</option>
                <option>Solved</option>
                <option>Shelved</option>
                <option>New</option>
            </select>
        </div>
    </div>

    <input type="hidden" th:field="*{dueDate}">

    <input type="hidden" th:field="*{messages}">

    <div class="form-group">
        <div class="col-3">
            <label>Chat:</label>
            <textarea rows="4" cols="50" class="form-control" th:field="*{newMessages}"></textarea>
        </div>
    </div>

    <input type="hidden" th:field="*{creator}">

    <div class="form-group">
        <div class="col-3">
            <label>Assigned To:</label>
            <input type="text" class="form-control" th:field="*{assignedTo}">
        </div>
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

</body>
</html>