<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.User"*/-->
<form th:object="${users}" th:action="@{/user/save}" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="col-md-3 form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" th:field="*{firstName}">
    </div>

    <div class="col-md-3 form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" th:field="*{lastName}">
    </div>

    <div class="col-md-3 form-group">
        <label>Username:</label>
        <input type="text" class="form-control" th:field="*{username}">
    </div>

    <div class="col-md-3 form-group" th:class="${#fields.hasErrors('password')} ?
                                    'col-md-3 form-group has-error' : 'col-md-3 form-group'">
        <label>Password:</label>
        <input type="password" class="form-control" th:field="*{password}" th:errorclass="has-error"/>
        <span class="help-block" th:if="${#fields.hasErrors('password')}">
            <ul>
                <li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
            </ul>
        </span>
    </div>

    <div class="col-md-3 form-group">
        <label>Enter Password Again:</label>
        <input type="password" class="form-control" th:field="*{passwordCheck}">
    </div>

    <div>
        <input type="submit" value="Submit">
    </div>

</form>

</body>
</html>