<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Form</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: coral;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/issues/new">Create Issue<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/service_requests/new">Create Service Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">View Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search for ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">User Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.User"*/-->
<form th:object="${users}" th:action="@{/user/save}" method="post">

    <input type="hidden" th:field="*{id}">

    <div class="col-md-3 form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" th:field="*{firstName}">
    </div>

    <div class="col-md-3 form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" th:field="*{lastName}">
    </div>

    <div class="col-md-3 form-group">
        <label>Username:</label>
        <input type="text" class="form-control" th:field="*{username}">
    </div>

    <div class="col-md-3 form-group">
        <label>Email:</label>
        <input type="text" class="form-control" th:field="*{email}">
    </div>

    <input type="hidden" th:value="*{email}" id="emailCheck" name="emailCheck">

    <div class="col-md-3 form-group">
        <label>Password:</label>
        <input type="text" class="form-control" th:field="*{password}">
    </div>

    <input type="hidden" th:value="*{password}" id="passwordCheck" name="passwordCheck">

    <div class="col-md-3 form-group">
        <label>Active:</label>
        <input type="text" class="form-control" th:field="*{active}">
    </div>

    <input type="hidden" th:field="*{roles}">

    <h3>Update roles</h3>

    <a href="#" th:href="@{'/users/change/end_user/'+${users.username}}" class="btn btn-info" role="button">Change to End User</a>
    <a href="#" th:href="@{'/users/change/agent/'+${users.username}}" class="btn btn-info" role="button">Change to Agent</a>
    <a href="#" th:href="@{'/users/change/admin/'+${users.username}}" class="btn btn-info" role="button">Change to Admin</a>
    <br>
    <br>

    <div class="col-md-3 form-group">
        <input type="submit" value="Submit">
    </div>

</form>

</body>
</html>