
html {
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: white;
}

.navbar {
    background-color: #ffcc00;
}

.center_div{
    top: 10%;
    left: 20%;
}

/* Styling for Cards (profile.html) */

.card {
    padding-bottom: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px; /* 5px rounded corners */
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,1);
}

.h1_center {
    padding-left: 20%;
}

.container {
    padding: 2px 16px;
}

.container-fluid {
    padding: 50px;
}

/* CSS for footer */

footer {
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

/* Styling for index.html */

.index-main {
    color: white;
    text-align: center;
}

.index-p {
    color: white;
    text-align: center;
}

.index-footer {
    padding-top: 45%;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
}

/* Css for pages, new_issue.html, new_servicerequest*/

label {
}

#assignHelp {
}

/* CSS for Analytics */

.analytics-main {
    text-align: center;
}

