<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Analytics</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<h1 class="analytics-main">Welcome to Analytics</h1>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-6">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Open Tickets</h3>
                    <p th:text="${current_open_tickets}">0</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Overdue Tickets</h3>
                    <p th:text="${overdue_tickets}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">View Teams</h3>
                    <div class="col-md-3 searchformrow">
                        <button class="btn btn-basic" onclick="location.href='/analytics/teams'" type="button">Teams</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<h2 class="analytics-main">Statistics per user</h2>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Overall Users</h3>
                    <p th:text="${overall_users}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Admins</h3>
                    <p th:text="${admins}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Agents</h3>
                    <p th:text="${agents}">0</p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">End Users</h3>
                    <p th:text="${endusers}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3>User Statistics</h3>
                    <form th:object="${label}" th:action="@{/user_analytics}" method="post">
                        <div class="form-group">
                            <div class="col-6">
                                <label>Username:</label>
                                <input type="text" class="form-control" id="username" name="username"/>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-basic">Submit</button>
                        </div>
                    </form>
                    <br>
                    <h3>Label Statistics</h3>
                    <form  th:object="${issue}"  th:action="@{/label_analytics}" method="post">

                        <div class="container center_div">

                            <div class="form-group">
                                <div class="col-6">
                                    <label>Label:</label>
                                    <select class="form-control" th:field="*{label}">
                                        <option th:each="labelValue : ${T(com.murphy1.serviced.serviced.model.Label).values()}"
                                                th:value="${labelValue.name()}"
                                                th:text="${labelValue.name()}"
                                        >val</option>
                                    </select>
                                    <select class="form-control" th:remove="all">
                                        <option>Hardware</option>
                                        <option>Software</option>
                                        <option>Network</option>
                                        <option>Access</option>
                                        <option>Account</option>
                                        <option>SQL</option>
                                        <option>Java</option>
                                        <option>Other</option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-basic">Submit</button>
                            </div>
                            <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>