<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Issues</title>
</head>
<body>

<h1>List of Issues</h1>

<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.Issue"*/-->
<table>
    <thead>
    <tr>
    <th>ID:</th>
    <th>Name:</th>
    <th>Creator:</th>
    <th>Assigned To:</th>
    <th>Description:</th>
    <th>Label:</th>
    <th></th>
    <th>Priority:</th>
    <th>Status:</th>
    <th>Due Date:</th>
    <th>Chat:</th>
    </tr>
    </thead>
    <tbody>
        <tr th:each="issue : ${issues}">
            <td th:text="${issue.id}">1</td>
            <td th:text="${issue.name}">Issue</td>
            <td th:text="${issue.creator}">Issue</td>
            <td th:text="${issue.assignedTo}"></td>
            <td th:if="${issue.assignedTo == null || issue.assignedTo.isEmpty()}"><a href="#" th:href="@{'/issues/assign/self/'+ ${issue.id}}">Assign me!</a></td>
            <td th:text="${issue.description}">Broken Link</td>
            <td th:text="${issue.label}">Broken Link</td>
            <td th:text="${issue.priority}">Broken Link</td>
            <td th:text="${issue.status}">Broken Link</td>
            <td th:text="${issue.dueDate}">Broken Link</td>
            <td>
                <label>
                    <textarea rows="5" cols="50" th:text="${issue.messages}" readonly></textarea>
                </label>
            </td>
        </tr>
    </tbody>
</table>

</body>
</html>