<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <form name="f" th:action="@{/login}" method="post">
                        <fieldset>
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h1 class="col-md-9 panel-title">Login</h1>
                                    </div>
                                    <div th:if="${param.error}" class="alert alert-error">
                                        Invalid username and password.
                                    </div>
                                    <div th:if="${param.logout}" class="alert alert-success">
                                        You have been logged out.
                                    </div>
                                    <div class="panel-body">
                                        <div class="searchformrow">
                                            <div class="col-md-10 form-group">
                                                <label class="form-label">Username:</label>
                                                <input type="text" class="form-control" id="username" name="username"/>
                                            </div>
                                        </div>
                                        <div class="searchformrow">
                                            <div class="col-md-10 form-group">
                                                <label class="form-label">Password:</label>
                                                <input type="password" class="form-control" id="password" name="password"/>
                                            </div>
                                        </div>
                                        <div class="col-md-3 searchformrow">
                                            <button type="submit" class="btn btn-info">Log in</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <a href="/users/new/admin" class="btn btn-info" role="button">Sign Up</a>
        </div>
    </div>
</div>

</body>
</html>