<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: coral;">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/issues/new">Create Issue<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/service_requests/new">Create Service Request</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">View Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/search">Search for ticket</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users">User Administration</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Your Created Tickets</h1>

<br>
<br>

<h3>Issues</h3>
<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.Issue"*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Creator:</th>
        <th>Assigned To:</th>
        <th>Description:</th>
        <th>Label:</th>
        <th>Priority:</th>
        <th>Status:</th>
        <th>Due Date:</th>
        <th>Chat:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${issues}">
        <td th:text="${issue.id}">1</td>
        <td th:text="${issue.name}">Issue</td>
        <td th:text="${issue.creator}">Issue</td>
        <td th:text="${issue.assignedTo}"></td>
        <td th:text="${issue.description}">Broken Link</td>
        <td th:text="${issue.label}">Broken Link</td>
        <td th:text="${issue.priority}">Broken Link</td>
        <td th:text="${issue.status}">Broken Link</td>
        <td th:text="${issue.dueDate}">Broken Link</td>
        <td>
            <label>
                <textarea rows="5" cols="50" th:text="${issue.messages}" readonly></textarea>
            </label>
        </td>
        <td><a href="#" th:href="@{'/issues/update/'+ ${issue.id}}" class="btn btn-info" role="button">Update</a></td>
    </tr>
    </tbody>
</table>

<br>

<h3>Service Requests</h3>
<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.ServiceRequest"*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Creator:</th>
        <th>Assigned To:</th>
        <th>Description:</th>
        <th>Label:</th>
        <th>Priority:</th>
        <th>Status:</th>
        <th>Due Date:</th>
        <th>Chat:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${service_requests}">
        <td th:text="${request.id}">1</td>
        <td th:text="${request.name}">Issue</td>
        <td th:text="${request.creator}">Issue</td>
        <td th:text="${request.assignedTo}"></td>
        <td th:text="${request.description}">Broken Link</td>
        <td th:text="${request.label}">Broken Link</td>
        <td th:text="${request.priority}">Broken Link</td>
        <td th:text="${request.status}">Broken Link</td>
        <td th:text="${request.dueDate}">Broken Link</td>
        <td>
            <label>
                <textarea rows="5" cols="50" th:text="${request.messages}" readonly></textarea>
            </label>
        </td>
        <td><a href="#" th:href="@{'/service_requests/update/'+ ${request.id}}" class="btn btn-info" role="button">Update</a></td>
    </tr>
    </tbody>
</table>

<br>
<br>

<h1>Your Assigned Tickets</h1>

<br>
<br>

<h3>Issues</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Creator:</th>
        <th>Assigned To:</th>
        <th>Description:</th>
        <th>Label:</th>
        <th>Priority:</th>
        <th>Status:</th>
        <th>Due Date:</th>
        <th>Chat:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="issue : ${assigned_issues}">
        <td th:text="${issue.id}">1</td>
        <td th:text="${issue.name}">Issue</td>
        <td th:text="${issue.creator}">Issue</td>
        <td th:text="${issue.assignedTo}"></td>
        <td th:text="${issue.description}">Broken Link</td>
        <td th:text="${issue.label}">Broken Link</td>
        <td th:text="${issue.priority}">Broken Link</td>
        <td th:text="${issue.status}">Broken Link</td>
        <td th:text="${issue.dueDate}">Broken Link</td>
        <td>
            <label>
                <textarea rows="5" cols="50" th:text="${issue.messages}" readonly></textarea>
            </label>
        </td>
        <td><a href="#" th:href="@{'/issues/update/'+ ${issue.id}}" class="btn btn-info" role="button">Update</a></td>
    </tr>
    </tbody>
</table>

<br>

<h3>Service Requests</h3>
<!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.ServiceRequest"*/-->
<table class="table table-striped">
    <thead>
    <tr>
        <th>ID:</th>
        <th>Name:</th>
        <th>Creator:</th>
        <th>Assigned To:</th>
        <th>Description:</th>
        <th>Label:</th>
        <th>Priority:</th>
        <th>Status:</th>
        <th>Due Date:</th>
        <th>Chat:</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="request : ${assigned_service_requests}">
        <td th:text="${request.id}">1</td>
        <td th:text="${request.name}">Issue</td>
        <td th:text="${request.creator}">Issue</td>
        <td th:text="${request.assignedTo}"></td>
        <td th:text="${request.description}">Broken Link</td>
        <td th:text="${request.label}">Broken Link</td>
        <td th:text="${request.priority}">Broken Link</td>
        <td th:text="${request.status}">Broken Link</td>
        <td th:text="${request.dueDate}">Broken Link</td>
        <td>
            <label>
                <textarea rows="5" cols="50" th:text="${request.messages}" readonly></textarea>
            </label>
        </td>
        <td><a href="#" th:href="@{'/service_requests/update/'+ ${request.id}}" class="btn btn-info" role="button">Update</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>