<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Your Profile</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<br>
<br>

<h1 class="h1_center">Your Created Tickets</h1>

<br>
<br>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">Issues</h4>
            <!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.Issue"*/-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Creator:</th>
                            <th>Assigned To:</th>
                            <th>Description:</th>
                            <th>Label:</th>
                            <th>Priority:</th>
                            <th>Status:</th>
                            <th>Due Date:</th>
                            <th>Make Changes:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="issue : ${issues}">
                            <td th:text="${issue.id}">1</td>
                            <td th:text="${issue.name}">Issue</td>
                            <td th:text="${issue.creator}">Issue</td>
                            <td th:text="${issue.assignedTo}"></td>
                            <td th:text="${issue.description}">Broken Link</td>
                            <td th:text="${issue.label}">Broken Link</td>
                            <td th:text="${issue.priority}">Broken Link</td>
                            <td th:text="${issue.status}">Broken Link</td>
                            <td th:text="${issue.dueDate}">Broken Link</td>
                            <td><a href="#" th:href="@{'/issues/update/'+ ${issue.id}}" class="btn btn-secondary" role="button">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">Service Requests</h4>
            <!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.ServiceRequest"*/-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Creator:</th>
                            <th>Assigned To:</th>
                            <th>Description:</th>
                            <th>Label:</th>
                            <th>Priority:</th>
                            <th>Status:</th>
                            <th>Due Date:</th>
                            <th>Make Changes:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${service_requests}">
                            <td th:text="${request.id}">1</td>
                            <td th:text="${request.name}">Issue</td>
                            <td th:text="${request.creator}">Issue</td>
                            <td th:text="${request.assignedTo}"></td>
                            <td th:text="${request.description}">Broken Link</td>
                            <td th:text="${request.label}">Broken Link</td>
                            <td th:text="${request.priority}">Broken Link</td>
                            <td th:text="${request.status}">Broken Link</td>
                            <td th:text="${request.dueDate}">Broken Link</td>
                            <td><a href="#" th:href="@{'/service_requests/update/'+ ${request.id}}" class="btn btn-secondary" role="button">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>

<h1 class="h1_center">Your Assigned Tickets</h1>

<br>
<br>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">Issues</h4>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Creator:</th>
                            <th>Assigned To:</th>
                            <th>Description:</th>
                            <th>Label:</th>
                            <th>Priority:</th>
                            <th>Status:</th>
                            <th>Due Date:</th>
                            <th>Make Changes:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="issue : ${assigned_issues}">
                            <td th:text="${issue.id}">1</td>
                            <td th:text="${issue.name}">Issue</td>
                            <td th:text="${issue.creator}">Issue</td>
                            <td th:text="${issue.assignedTo}"></td>
                            <td th:text="${issue.description}">Broken Link</td>
                            <td th:text="${issue.label}">Broken Link</td>
                            <td th:text="${issue.priority}">Broken Link</td>
                            <td th:text="${issue.status}">Broken Link</td>
                            <td th:text="${issue.dueDate}">Broken Link</td>
                            <td><a href="#" th:href="@{'/issues/update/'+ ${issue.id}}" class="btn btn-secondary" role="button">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h4 class="card-title">Service Requests</h4>
            <!--/*@thymesVar id="issue" type="com.murphy1.serviced.serviced.model.ServiceRequest"*/-->
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>ID:</th>
                            <th>Name:</th>
                            <th>Creator:</th>
                            <th>Assigned To:</th>
                            <th>Description:</th>
                            <th>Label:</th>
                            <th>Priority:</th>
                            <th>Status:</th>
                            <th>Due Date:</th>
                            <th>Make Changes:</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="request : ${assigned_service_requests}">
                            <td th:text="${request.id}">1</td>
                            <td th:text="${request.name}">Issue</td>
                            <td th:text="${request.creator}">Issue</td>
                            <td th:text="${request.assignedTo}"></td>
                            <td th:text="${request.description}">Broken Link</td>
                            <td th:text="${request.label}">Broken Link</td>
                            <td th:text="${request.priority}">Broken Link</td>
                            <td th:text="${request.status}">Broken Link</td>
                            <td th:text="${request.dueDate}">Broken Link</td>
                            <td><a href="#" th:href="@{'/service_requests/update/'+ ${request.id}}" class="btn btn-secondary" role="button">Update</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>