<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<h3></h3>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-12">
            <div class="card" title="table-card">
                <div class="card-body">
                    <form th:object="${user}" th:action="@{/submit_reset}" method="post">
                        <fieldset>
                            <div class="panel-group">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h2 class="col-md-9 panel-title">Please enter your email to reset your password</h2>
                                    </div>
                                    <div class="panel-body">
                                        <div class="searchformrow">
                                            <div class="col-md-6 form-group">
                                                <label></label>
                                                <input type="text" class="form-control" th:field="*{email}">
                                                <small>You will receive a password reset email shortly.</small>
                                            </div>
                                        </div>
                                        <div class="col-md-3 searchformrow">
                                            <button type="submit" class="btn btn-basic">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>