<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'templates')}">
<head>
    <meta charset="UTF-8">
    <title>Label Analytics</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" media="all"
          href="../static/style.css" th:href="@{/style.css}"/>

</head>
<body>

<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-6">
            <div class="card" title="table-card">
                <div class="card-body">
                    <h3 class="card-title">Open Tickets</h3>
                    <p th:text="${label}">0</p>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>